<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Preencha todos os campos abaixo:</h2>
        <form method="post" action="{% url 'User Insert' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nome" required />
            <input type="text" name="surname" placeholder="Sobrenome" required />
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Nova Senha" required />
            <input type="password" name="confirm_password" placeholder="Confirmar Nova Senha" required />
            <input type="submit" value="Registrar" />
        </form>
    </div>
</body>
</html>