span{
    display: flex;
    align-items: center;
  }
  
  .TempContainer h1{
    margin: 0;
  }
  
  .TempContainer p{
    margin: 5px;
  }
  
  .TempContainer{
    margin-top: 50px;
    padding: 5%;
    border-radius: 10px;
    box-shadow: ;
  }
  
  .Cidade{
    margin-right: 100px;
  }