<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert Weather</title>
</head>
<body>
    <div class="container">
        <h2>Insert Weather</h2>
        <form method="post" action="{% url 'Weather Insert' user_id=user_id %}">
            {% csrf_token %}
            <input type="number" name="temperature" placeholder="Temperature" value="{{ form.temperature.value }}" required /><br>
            <input type="text" name="city" placeholder="City" value="{{ form.city.value }}" required /><br>
            <input type="number" name="atmosphericPressure" placeholder="Atmospheric Pressure" value="{{ form.atmosphericPressure.value }}" required /><br>
            <input type="number" name="humidity" placeholder="Humidity" value="{{ form.humidity.value }}" required /><br>
            <input type="text" name="weather" placeholder="Weather" value="{{ form.weather.value }}" /><br>
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
