{% extends "main.html" %}

{% block menu %}
<li class="nav-item"><a href="{% url 'Weather Insert' %}" class="nav-link">Insert</a></li>
<li class="nav-item"><a href="{% url 'Weather Generate' %}" class="nav-link">Generate</a></li>
<li class="nav-item"><a href="{% url 'Weather Reset' %}" class="nav-link">Reset</a></li>
<li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
{% endblock %}

{% block verse%}
{{ verse }}
{% endblock %}

{% block content %}

    <h1>Edit Climate Data</h1>

    <div class="d-flex justify-content-start flex-wrap">

        <form action="{% url 'Weather Edit' id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12 p-2">
                <div class="card">
                    <div class="card-body">
                        {% for field in form %}
                        <p class="card-text">   
                        {{ field.label }}: {{ field }}
                        </p>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Save">
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock content %}