{% extends "main.html" %}

{% block menu %}
{% if not errorAuth %}
<li class="nav-item"><a href="{% url 'Weather Insert' %}" class="nav-link">Insert</a></li>
<li class="nav-item"><a href="{% url 'Weather Generate' %}" class="nav-link">Generate</a></li>
<li class="nav-item"><a href="{% url 'Weather Reset' %}" class="nav-link">Reset</a></li>
<li class="nav-item"><a href="{% url 'Logout' %}" class="nav-link">Logout</a></li>
{% else %}
<li class="nav-item"><a href="#" class="nav-link">Register</a></li>
<li class="nav-item"><a href="{% url 'Login' %}" class="nav-link">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between">
    <h1>Climate Data</h1>
    <div>
        <form action="{% url 'Weather Filter' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>City</label>
            <input type="text" id="city" name="city" />
            <input type="submit" value="Filter" />
        </form>
    </div>
</div>

{% if error or errorAuth %}
<div class="alert alert-danger" role="alert">
    {{ error }} {{ errorAuth }}
</div>
{% endif %}

<div class="d-flex justify-content-start flex-wrap">

    {% for weather in weathers %}
    <div class="col-md-4 p-2">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        Temperature: {{ weather.temperature }}
                    </div>
                    <div>
                        {% if not errorAuth %}
                        <a href="{% url 'Weather Edit' weather.id %}" class="link-dark link-offset-2 link-underline-opacity-0">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="{% url 'Weather Delete' weather.id %}" class="link-dark link-offset-2 link-underline-opacity-0">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Date: {{ weather.date }} <br />
                    City: {{ weather.city }} <br />
                    Atmospheric Pressure: {{ weather.atmosphericPressure }} <br />
                    Humidity: {{ weather.humidity }} <br />
                    Weather: {{ weather.weather }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}